Contact.Client/Service References/GameService/Contact.Server.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Contact.Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contact.Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GameMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="actionAgrument" nillable="true" type="tns:ActionAgrument" />
      <xs:element minOccurs="0" name="actionType" type="tns:GameMessage.ActionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameMessage" nillable="true" type="tns:GameMessage" />
  <xs:complexType name="ActionAgrument">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ActionAgrument" nillable="true" type="tns:ActionAgrument" />
  <xs:simpleType name="GameMessage.ActionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UserLeftRoom" />
      <xs:enumeration value="UserJoinedRoom" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GameMessage.ActionType" nillable="true" type="tns:GameMessage.ActionType" />
</xs:schema>