Contact.Client/Service References/GameService/Contact.Server1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Contact.Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contact.Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="UserData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomId" type="xs:int" />
      <xs:element minOccurs="0" name="Token" type="ser:guid" />
      <xs:element minOccurs="0" name="role" type="tns:User.Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserData" nillable="true" type="tns:UserData" />
  <xs:simpleType name="User.Role">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Host" />
      <xs:enumeration value="Qwestioner" />
      <xs:enumeration value="Contacter" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="User.Role" nillable="true" type="tns:User.Role" />
  <xs:complexType name="GameException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameException" nillable="true" type="tns:GameException" />
  <xs:complexType name="GameState">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChiefWord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentWord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfOpenChars" type="xs:int" />
      <xs:element minOccurs="0" name="PrimaryWordKnownLetters" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Question" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="UsedWords" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfUser" />
      <xs:element minOccurs="0" name="VarOfCurWord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="state" type="tns:GameState.State" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameState" nillable="true" type="tns:GameState" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="role" type="tns:User.Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:simpleType name="GameState.State">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotStarted" />
      <xs:enumeration value="HaveCurrentWord" />
      <xs:enumeration value="HaveCurrentWordVariant" />
      <xs:enumeration value="VotingForHostWord" />
      <xs:enumeration value="VotingForPlayersWords" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GameState.State" nillable="true" type="tns:GameState.State" />
  <xs:complexType name="GameMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="actionAgrument" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="actionType" type="tns:GameMessage.ActionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameMessage" nillable="true" type="tns:GameMessage" />
  <xs:simpleType name="GameMessage.ActionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UserLeftRoom" />
      <xs:enumeration value="UserJoinedRoom" />
      <xs:enumeration value="StateChanged" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GameMessage.ActionType" nillable="true" type="tns:GameMessage.ActionType" />
</xs:schema>