Contact.Client/Service References/GameService/Contact.Server.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Contact.Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contact.Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GameException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameException" nillable="true" type="tns:GameException" />
  <xs:complexType name="GameState">
    <xs:sequence>
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameState" nillable="true" type="tns:GameState" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="GameMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="actionAgrument" nillable="true" type="tns:ActionAgrument" />
      <xs:element minOccurs="0" name="actionType" type="tns:GameMessage.ActionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameMessage" nillable="true" type="tns:GameMessage" />
  <xs:complexType name="ActionAgrument">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ActionAgrument" nillable="true" type="tns:ActionAgrument" />
  <xs:complexType name="UserData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionAgrument">
        <xs:sequence>
          <xs:element minOccurs="0" name="user" nillable="true" type="tns:User" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserData" nillable="true" type="tns:UserData" />
  <xs:simpleType name="GameMessage.ActionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UserLeftRoom" />
      <xs:enumeration value="UserJoinedRoom" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GameMessage.ActionType" nillable="true" type="tns:GameMessage.ActionType" />
</xs:schema>